@import "./fonts/fonts.css";

:root {
    --vt-c-header-black: #19171a;
    --vt-c-header-white: #eeeeee;
    --vt-c-body-black: linear-gradient(#222, #111);
    --vt-c-body-white: linear-gradient(#ffffff, #ebebeb);

    --vt-c-white: #ffffff;
    --vt-c-white2: #ffffff;
    --vt-c-white-soft: #f8f8f8;
    --vt-c-white-mute: #f2f2f2;
    --vt-c-black: #181818;
    --vt-c-black2: #333333;
    --vt-c-black-soft: #222222;
    --vt-c-black-mute: #282828;

    --vt-c-white-shadow: rgba(153, 153, 153, 0.15);
    --vt-c-black-shadow: rgba(0, 0, 0, 0.15);

    --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
    --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
    --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
    --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

    --vt-c-text-light-1: var(--vt-c-black);
    --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
    --vt-c-text-dark-1: var(--vt-c-white);
    --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

:root.light {
    --color-header: var(--vt-c-header-white);
    --color-body: var(--vt-c-body-white);

    --color-background: var(--vt-c-white);
    --color-background2: var(--vt-c-white2);
    --color-background-soft: var(--vt-c-white-soft);
    --color-background-mute: var(--vt-c-white-mute);

    --color-shadow: var(--vt-c-white-shadow);

    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-light-1);

    --color-heading: var(--vt-c-text-light-1);
    --color-text: var(--vt-c-text-light-2);

    --section-gap: 160px;
}

:root,
:root.dark {
    --color-header: var(--vt-c-header-black);
    --color-body: var(--vt-c-body-black);

    --color-background: var(--vt-c-black);
    --color-background2: var(--vt-c-black2);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-shadow: var(--vt-c-black-shadow);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-1);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: "Montserrat Alternates", sans-serif;
    -webkit-tap-highlight-color: transparent;
    scrollbar-width: thin;
    scrollbar-color: #9966cc #b39ad1;
}

*::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #b39ad1;
}

*::-webkit-scrollbar-thumb {
    background-color: #9966cc;
}


body {
    min-height: 100vh;
    color: var(--color-text);
    background: var(--color-background);
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button,
input,
a {
    transition: all 0.2s;
}

button {
    background-color: transparent;
    cursor: pointer;
    color: white;
    font-size: 16px;
}
